<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDataBase"
			 connectionString="Server=tcp:inventorymanagement.database.windows.net,1433;Initial Catalog=InventoryManagement;Persist Security Info=False;User ID=inventorymanagement;Password=Gadareuli3;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
</configuration>