<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InventoryDataBase"
			 connectionString="Server=mssql-171534-0.cloudclusters.net,10010;Initial Catalog=janiinventorymanagement;Persist Security Info=False;User ID=Admin;Password=Gadareuli3;MultipleActiveResultSets=True;Encrypt=True;TrustServerCertificate=true;Connection Timeout=30;" />
	</connectionStrings>						
</configuration>